$c-primario: #6834a6;
$blanco: #fff;
$negro: #000;

$fuentePrincipal: 'Poppins', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1600px;
$desktopXXXL: 1920px;
