@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
    @include m.tablet {
        background-size: 50rem;
    }
    @include m.desktop {
        background-size: 60rem;
    }
    @include m.desktopXL {
        background-size: 75rem;
    }
    @include m.desktopXXL {
        background-size: 110rem;
    }
    @include m.desktopXXXL {
        background-size: 150rem;
    }
}
.header__barra {
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
}
.header__grid {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}
.header__logo {
    width: 15rem;
    margin: 0 auto 3rem auto;
    @include m.tablet {
        margin: 0;
    }
}
.header__heading {
    font-size: 3rem;
    @include m.tablet {
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;
    }
}
.header__imagen {
    @include m.tablet {
        max-width: 30rem;
        margin: 0 auto;
    }
}
.header__boton {
    background-color: v.$c-primario;
    display: block;
    padding: 1rem;
    text-align: center;
    color: v.$blanco;
    margin-bottom: 4rem;
    @include m.tablet {
        padding: 1rem 3rem;
        display: inline-block;
    }
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}
.navegacion__enlace {
    color: v.$c-primario;
    @include m.tablet {
        color: v.$blanco;
    }
}
