@use 'base/variables' as v;
@use 'base/mixins' as m;

.nucleus {
    margin-top: 3rem;
}
.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}
.listado__elemento--2col {
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}
.listado__elemento {
    background-color: v.$blanco;
    box-shadow: 0px 0px 15px 3px  rgb(0 0 0 / .15);
    padding: 2rem;
    margin-bottom: 5rem;
    transition-property: transform;
    transition-duration: .3s;
    &:hover {
        transform: scale(1.1);
    }
}
.listado__heading {
    font-size: 3rem;
    color: v.$c-primario;
    margin: 0;
}
.listado__numero {
    font-size: 6rem;
    margin: 0;
    font-weight: 900;
    color: v.$c-primario;
    text-align: center;
    @include m.tablet {
        flex-basis: 20rem;
        text-align: right;
        font-size: 4rem;
    }
}
.listado__texto {
    margin: 0;
    font-size: 2rem;
}
