@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales {
    background-color: v.$c-primario;
    padding: 2rem 0;
}
.testimoniales__heading {
    margin: 0;
    color: v.$blanco;
    padding-top: 5rem;
}
.testimoniales__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.testimonial {
    background-image: url(../img/comilla.webp);
    background-repeat: no-repeat;
    background-size: 3rem ;
    background-color: v.$blanco;
    background-position: 0.4rem 3rem;
    box-shadow: 0px 0px 15px 3px  rgb(0 0 0 / .15);
    padding: 2rem 3rem;
    @include m.desktop {
        background-position: 2rem 3rem;
    }
}
.testimonial__texto {
    text-align: center;
    margin: 0;
}
.testimonial__autor {
    text-align: right;
    font-weight: 700;
    color: v.$c-primario;
}